extends layout

block content
  h1= category.name
  if category.description
    p= category.description

  section.grid-row
    for item in items
      - let imgData = item.image.data && item.image.data.toString("base64");
      - let imgType = item.image.data && item.image.fileType;

      article
        if item.image.data
          .opacity-div(
            style=`background-image: url(data:${imgType};base64,${imgData});`
          )
        else
          .opacity-div-default
        h3
          a(href=item.url) #{item.name}

    
  hr
  div.buttons-operators
    button.green-btn
      a(href="/item/create") Add item
    button.green-btn
      a(href=`${category.url}/update`) Update category
    button.green-btn
      a(href=`${category.url}/delete`) Delete category
  